.ever {
  background-color: #545af7;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  color: white;
  button {
    background-color: #545af7;
    border: 0;
    cursor: pointer;
  }
}
